<!DOCTYPE html>
<html>
<body>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.dayVisit, 'Jour de la visite') }}
            {{ form_errors(form.dayVisit) }}
            {{ form_widget(form.dayVisit) }}
        </div>
        <div>
            {{ form_label(form.halfDay, 'Demi-journée') }}
            {{ form_errors(form.halfDay) }}
            {{ form_widget(form.halfDay) }}
        </div>
        <div>
            {{ form_label(form.email, 'Email') }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div>
            {{ form_label(form.tickets, 'Billets :') }}
            {{ form_errors(form.tickets) }}
            {{ form_widget(form.tickets) }}
        </div>
        {# A terminer #}
    <a href="#" id="add_ticket" class="btn btn-default">Ajouter un billet</a>
    {{ form_rest(form) }}
    {{ form_end(form) }}


    {# Ici temporairement #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">

    // Gestion des ajouts de billets
    $(document).ready(function() {
        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        var $container = $('div#louvre_reservationbundle_order_tickets');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var index = $container.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_ticket').click(function(e) {
            addTicket($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
        if (index == 0) {
            addTicket($container);
        }

        // La fonction qui ajoute un formulaire CategoryType
        function addTicket($container) {
            // Dans le contenu de l'attribut « data-prototype », on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il contient par le numéro du champ
            var template = $container.attr('data-prototype')
            .replace(/__name__label__/g, 'Billet')
            .replace(/__name__/g,        index)
            ;

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
            if (index != 0) {
                addDeleteLink($prototype);
            }

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppression d'une catégorie
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
            // Ajout du lien
            $prototype.append($deleteLink);
            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function(e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });
        }
    });
    </script>
</body>
</html>
