
{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}
{% block title %}{{ parent() }} Réservation{% endblock %}
{% block titre %}Réservez vos places{% endblock %}
{% block contenu %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <div>
            {{ form_label(form.dayVisit) }}
            {{ form_errors(form.dayVisit) }}
            {{ form_widget(form.dayVisit) }}
        </div>
        <div>
            {{ form_label(form.halfDay) }}
            {{ form_errors(form.halfDay) }}
            {{ form_widget(form.halfDay) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_label(form.tickets) }}

            {{ form_widget(form.tickets) }}
        </div>

    <a href="#" id="add_ticket" class="btn btn-default">Ajouter un billet</a>
    <p id="tarif-info">
        <span class="red">* </span>
        Le tarif réduit concerne les étudiants, employés du musée,
        d'un service du ministère de la Culture, militaires...
        Un justificatif vous sera demandé a l'entrée.
    </p>
    <input type="submit" id="louvre_reservationbundle_order_save" class="btn-default btn" value="Valider">
    {{ form_end(form) }}

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="{{ asset('js/index_form.js') }}"></script>

{% endblock %}
