{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}{{ parent() }} Récapitulatif{% endblock %}
{% block titre %}Récapitulatif de votre commande{% endblock %}

{% block contenu %}
<p id="booking-success" class="alert alert-info">
    Félicitation, votre commande a été validée avec succès!<br>
    Vous recevrai très rapidement un email contenant le récapitulatif
    de votre réservation.<br>
    Imprimez le, ou gardez le sur votre smartphone,
    il servira de billet d'entrée.<br>
    Merci de votre réservation et à très vite au Musée du Louvre!
    <span class="fa fa-thumbs-o-up"></span>
</p>
<div class="order-bord">
    <p class="recap">
        <strong>Vous avez réservé pour le :
            <span class="red">{{ order.dayVisit|date("d/m/Y") }}</span>
        </strong>
    </p>
    {% if order.halfDay == true %}
    <p class="recap">
        <span class="fa fa-exclamation-triangle"></span>
        Billet demi-journée. Vous pouvez entrer à partir de 14h
    </p>
    {% endif %}
    <p class="recap">
        <strong>Email : </strong>
        {{ order.email }}
    </p>
</div>
<h3>Billets :</h3>
<div class="tickets-bord">
    {% for ticket in order.tickets %}
    <p class="recap">
        <strong>Nom : </strong>
        {{ ticket.name }}
    </p>
    <p class="recap">
        <strong>Prénom : </strong>
        {{ ticket.firstName }}
    </p>
    <p class="recap">
        <strong>Date de naissance : </strong>
        {{ ticket.birthDate|date('d/m/Y') }}
    </p>
    <p class="recap">
        <strong>Pays : </strong>
        {{ ticket.country }}
    </p>
    {% if ticket.reducedPrice == true %}
    <p class="recap">
        <span class="fa fa-exclamation-triangle"></span>
        Tarif réduit. Un justificatif sera demandé a l'entrée
    </p>
    {% endif %}
    <p class="recap">
        <strong>Prix du billet : </strong>
        {{ ticket.ticketPrice }} €
    </p>
    {% endfor %}
</div>
<p class="recap">
    <strong>Prix Total :
        <span class="red">{{ order.total }} €</span>
    </strong>
</p>
<div class="checkbox">
    <label>
        <input id="cgv" type="checkbox">
        J'ai lu et j'accepte les <a href="/conditions-generales" target="_blank">conditions générales de vente</a>
    </label>
</div>

<button type="button" id="bouton-stripe" class="btn btn-default bouton" name="StripeButton">Payer</button>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{{ asset('js/animation_button.js') }}"></script>
<script type="text/javascript">
var handler = StripeCheckout.configure({
    key: 'pk_test_8V7h2SGMHr9hQQSl8AheEc8J',
    image: '{{ asset('img/joconde.jpg') }}',
    locale: 'auto',
    token: function(token) {
        $.post('{{ url('recapitulatif') }}',
        {id: token.id },
        function(reponse) {
            console.log("Token envoyé");
            if (reponse.code == 1) {
                document.querySelector('#bouton-stripe').style.display = 'none';
                document.querySelector('#booking-success').style.display = 'block';
            }
        }, "json");
    }
});

document.getElementById('bouton-stripe').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
        name: 'Musée du Louvre',
        description: 'Réservation',
        allowRememberMe: false,
        zipCode: true,
        currency: 'eur',
        amount: {{ order.total }} * 100,
        email: '{{ order.email }}'
    });
    e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
    handler.close();
});
</script>

{% endblock %}
